h1 {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
img {
    max-height: 500px;
    max-width: 500px;
}
#title {
    background-image: url("Banner.png");
    background-repeat: repeat-x;
    min-height: 188px;
}