.right {
    text-align: right;
    margin-left: 52%;
    word-break: break-word;
    float: right;
}
.left {
    text-align: left;
    margin-right: 52%;
    word-break: break-word;
    float: left;
}
img {
    max-height: 500px;
    max-width: 500px;
}
#title {
    background-image: url("Images/Banner.png");
    background-repeat: repeat-x;
    min-height: 188px;
    text-align: center;
}